body{
  justify-content: center;
  
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: "Courier New", Courier, monospace;
}

.resume-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 900px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: black;
  height: 20%;
}

.profile-pic {
  width: 50%;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
  margin-right: 20px;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: black;
}

.left-column,
.right-column {
  width: 48%;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #e7e7e7;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: black;
}
